.titlesobre{

    color: rgba(228, 14, 14, 0.8);
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

.textsobre{

    text-align: center;
    padding:0 5%;
    font-weight: 450;
}
.ultimo{

    padding-bottom: 3%;

}